<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.ex04.Ex04Mapper"> <!-- interface경로 -->
  <select id="selectCustomerNameById" resultType="String"> <!-- 메소드명과 리턴타입 -->
    SELECT CustomerName FROM Customers WHERE CustomerId = #{id} 
  </select>
  
  <select id="selectEmployeeFirstNameById" resultType="String">
  	SELECT FirstName 
  	FROM Employees 
  	WHERE EmployeeId = #{id}
  </select>
  
  <select id="selectBoard" resultType="org.zerock.domain.ex02.BoardDto">
  	SELECT b.id, 
  		   b.title, 
  		   b.inserted,
  		   COUNT(r.id) numOfReply <!-- 별칭으로 field명과 맞춰주기 -->
  	FROM Board b LEFT JOIN Reply r ON b.id = r.board_id
  	GROUP BY b.id
  	ORDER BY id DESC
  </select>
  
  <select id="getBoard" resultType="org.zerock.domain.ex02.BoardDto">
  	SELECT id, title, body, inserted
  	FROM Board
  	WHERE id = #{id} <!-- sql의 query에서 "?" 부분 -->
  </select>
  
  <update id="updateBoard">
  	UPDATE Board
  	SET title = #{title},
  		body = #{body}
  	WHERE id = #{id}
  </update>
  
  <delete id="deleteBoard">
  	DELETE FROM Board
  	WHERE id = #{id}
  </delete>
  
  <insert id="insertBoard" useGeneratedKeys="true" keyColumn="id" keyProperty="id"> <!-- 새 레코드입력했을때 새로운 key를 가져옴, db에 있는 테이블컬럼인 key, javabeans의 프로퍼티 -->
  	INSERT INTO Board (title, body, inserted)
  	VALUES (#{title}, #{body}, #{inserted})
  </insert>
  
  <!-- insert
  
  update
  
  delete -->
</mapper>
