<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.ex04.Ex04Mapper"> <!-- interface경로 -->
  <select id="selectCustomerNameById" resultType="String"> <!-- 메소드명과 리턴타입 -->
    SELECT CustomerName FROM Customers WHERE CustomerId = #{id} 
  </select>
  
  <select id="selectEmployeeFirstNameById" resultType="String">
  	SELECT FirstName 
  	FROM Employees 
  	WHERE EmployeeId = #{id}
  </select>
  
  <select id="selectBoard" resultType="org.zerock.domain.ex02.BoardDto">
  	SELECT id, title, body, inserted
  	FROM Board
  	ORDER BY id DESC
  </select>
  
  <select id="getBoard" resultType="org.zerock.domain.ex02.BoardDto">
  	SELECT id, title, body, inserted
  	FROM Board
  	WHERE id = #{id} <!-- sql의 query에서 "?" 부분 -->
  </select>
  
  <update id="updateBoard">
  	UPDATE Board
  	SET title = #{title},
  		body = #{body}
  	WHERE id = #{id}
  </update>
  
  <delete id="deleteBoard">
  	DELETE FROM Board
  	WHERE id = #{id}
  </delete>
  
  <!-- insert
  
  update
  
  delete -->
</mapper>
